.main-content {
    font-family:"Avenir";
    text-align:center;
}

.wrapper {
  width: 500px;
  display: inline-block;
}
video {
  margin-top: 10px;
  border: 1px solid;
  width: 450px;
}

a {
  text-decoration: none;
}

#log {
  border:1px solid;
  color: white;
  background-color:#073b4c;
}

.btn {
  color: white;
  font-weight: bold;
  padding:5px;
}

.start {
  background-color:#06d6a0
}

.stop {
  background-color:#d00000;
}

.btn:hover{
  cursor: pointer;
}

.box{
  border-radius: 8px;
  width: 90%;
  height: 30px;
  text-align: center;
  display:inline-block;
  opacity: 0.8;
}

.hide {
  display: none;
}
